{{#each users as |user|}}

<div id="all-users-container" class="col-xs-4 box">
    <div class='user-button' data-id="{{user.id}}">
      <ul name='user-email' type="submit" class='handlebars-fields'>Email:
        <button type='submit' class='handlebars'>{{user.email}}</button>
      </ul>
    </div>
  </div>
{{/each}}
