{{#each blogs as |blog|}}

<div class="col-xs-8 box">
    <div data-id="{{blog.id}}">
      <ul name='blog-name' class='handlebars-fields'><h3><span class='handlebars' id='blog-title'>{{blog.title}}</span></h3></ul>
      {{#posts}}
      <ul name='blog-posts' class='handlebars-fields'>Posts: <span class='handlebars' id='blog-posts'>{{title}}</span></ul>
      {{/posts}}
      <input type='hidden' id="blog-id" name='blog-id' value= "{{blog.id}}">
      <button type="submit" class="view-blog" name="view-blog">View Blog</button>
<!--
    {{#checkUser blog._owner}}
      <button type="submit" class="remove-button" name="remove-button">Remove</button>
      <button type="submit" class="edit-button" name="edit-button">Edit</button>

    {{/checkUser}} -->
  </div>
</div>

{{/each}}
