$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

nav {
  margin-bottom: 10%;
}

body {
  background-image: url('./../../sserpdrow-home.png');
  background-position: right;
  background-size: 110%;
  background-attachment: fixed;
  background-color: grey;
}

#content-div {
  padding-top: 5%;
}

#content-container {
  padding-top: 5%;
}

#change-password, #sign-up, #sign-in {
  padding-top: 5%;
}

h1, h2, form {
  padding-left: 10%;
}

h2 {
  padding-top: 7%;
}

#create-page-modal form, #create-blog-modal form, #create-post-modal form, #edit-page-modal form, #edit-blog-modal form, #edit-post-modal form {
  background-color: #b8f7fc;
  width: 50%;
  border-radius: 2%;
}

#create-page-modal ul, #create-blog-modal ul, #create-post-modal ul, #edit-page-modal ul, #edit-blog-modal ul, #edit-post-modal ul {
  margin-left: -100px;
  margin-top: 10px;;
}

// .col-md-3 {
//   border: 2px;
//   border-color: black;
//   border-style: inset;
//   border-radius: 5%;
//   border-width: thin;
//   margin-left: 10px;
//   margin-right: 10px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding-left: 5%;
//   padding-right: 5%;
//   padding-bottom: 5%;
// }

#failure {
  color: maroon;
}
