$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('./../../sserpdrow-home.png');
  background-position: right;
  background-size: 110%;
  background-attachment: fixed;
  background-color: grey;
}

h1, h2, form {
  padding-left: 10%;
}

h2 {
  padding-top: 7%;
}
// .col-md-3 {
//   border: 2px;
//   border-color: black;
//   border-style: inset;
//   border-radius: 5%;
//   border-width: thin;
//   margin-left: 10px;
//   margin-right: 10px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   padding-left: 5%;
//   padding-right: 5%;
//   padding-bottom: 5%;
// }

#failure {
  color: maroon;
}
